/ejemplo1/nbproject/private/
/trabajo1/nbproject/private/
/trabajo1/build/
/Tokens/nbproject/private/
/Tokens/build/
/Comparacion/nbproject/private/
/Comparacion/build/
/conexionBDD/nbproject/private/
/conexionBDD/build/
/herencias/nbproject/private/
/herencias/build/
/deberDimensiones/nbproject/private/